<% layout('boilerplate') -%>


<div class="container">
<div class="row">


  <div class="col-sm-6 col-md-4">
    <img class="img-circle img-responsive img-center" src="<%= user.profile.photo %>" alt="">
  </div>


  <div class="col-md-8">
    <p>Name: <%= user.profile.name %></p>
    <p>Email: <%= user.email %></p>

  </div>
</div>
